@import "../style/variables.scss";

.pageGrid {
    display: grid;
    gap: 1rem;
    grid-template-areas: 
    "title"
    "description"
    "sections";
}

.sectionGrid {
    display: grid;
    gap: 1rem;
}

.sectionTextGrid{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.title {
    grid-area: title;
}

.sections {
    grid-area: sections;
}

.description {
    grid-area: description;
}

@media screen and (min-width: map-get($break-point , 'md')) {
    .sectionGrid{
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (min-width: map-get($break-point , 'lg')) {
    .pageGrid{
        grid-template-areas: 
        "title title title"
        "sections sections description";
        grid-template-columns: 1fr 1fr 24rem;
    }
}

@media screen and (min-width: map-get($break-point , 'xl')) {
    .sectionGrid {
        grid-template-columns: repeat(3, 1fr);
    }
}

.textRight {
    text-align: right;
}